html,
body {
  height: 100%;
}

textarea {
  resize: none;
}

#title-span {
  right: 12px;
  top: 6px;
}

#content-span {
  right: 12px;
  bottom: 6px;
}

.card-body {
  padding-top: 32px;
}

.card-body > .btn-group {
  top: -1px;
  right: -1px;
}
